{% extends 'index.twig' %}
{% block main %}
    <body>


    <form method="post" action="{{ deleteChecked }}">

    <a class="btn btn-primary" href="{{ mainPage }}">Main Page</a>
    <button name="btnCheck" class="btn btn-primary" type="submit" value="btnClick">Delete checked</button>

        <input id="select_all" type="checkbox"/> Select All
    <table class="table" id ="data_preview">
        <thead class="thead-light">
        <tr>
            <th scope="col"></th>
            <th scope="col">ID</th>
            <th scope="col">Email</th>
            <th scope="col">Name</th>
            <th scope="col">Gender</th>
            <th scope="col">Active</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}

        <div id="{{ user.getId() }}">
            <tr>
                <td><input class="form-check-input checkbox" type="checkbox" name="users[]" value="{{ user.getId() }}"></td>

                <td>{{ user.getId() }}</td>
                <td>{{ user.getEmail() }}</td>
                <td>{{ user.getName() }}</td>
                <td>{{ user.getGender() }}</td>
                <td>{% if(user.isActive()==1) %} yes {% else %} no {% endif %}</td>
                <td>
                    <form method="post"
                          action="{{deleteUser~user.getId()}}"
                          onsubmit="return deleletconfig()">
                    <button name="btnDel" class="w-50 btn btn-lg btn-primary" type="submit" value="btnClick">Delete
                        user
                    </button>
                    </form>

                    <form method="post"
                          action="{{editUser~user.getId()}}">
                        <button name="btnEdit" class="w-50 btn btn-lg btn-primary" type="submit" value="btnClick">Edit
                            user
                        </button>
                    </form>
                </td>
            </tr>
        </div>
        {% endfor %}

        </tbody>
    </table>
    <a class="btn {% if(page==1) %} btn-secondary {% else %} btn-primary {% endif %}" href="?page=1"?>First</a>
    <a class="btn {% if(page<=1) %} btn-secondary {% else %} btn-primary {% endif %}" href="?page={{page-1 }}"?>Prev</a>
    <a class="btn {% if (page >= total_pages)  %} btn-secondary{% else %} btn-primary {% endif %}" href="{%  if (page <= total_pages) %} ?page={{page+1}} {% endif %}">Next</a>
    <a class="btn {% if(page==total_pages) %} btn-secondary {% else %} btn-primary {% endif %}" href="?page={{ total_pages }}">Last</a>
    </form>
    </body>
{% endblock %}